# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
*.env

# Dependencies & Build artifacts
node_modules/
dist/
build/
bin/
obj/
out/
target/
.venv/
venv/
__pycache__/

# IDEs
.idea/
.vscode/
*.suo
*.user

# AI Agent & instructions
.agents
FE/.agents
GEMINI.md
FE/GEMINI.md
AGENTS.md
FE/AGENTS.md
